@import "../settings/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $secondaryColor;
    font-family: $mainFont;
  }
  
  ul,
  li {
    list-style-type: none;
  }